<div class="psul-copyright text-center font-size-sm">
  <ul class="list-inline list">
    <li class="list-inline-item"><a href="https://universityethics.psu.edu/hotline">Hotline</a></li>
    <li class="list-inline-item"><a href="https://www.psu.edu/web-privacy-statement">Privacy Statements</a></li>
    <li class="list-inline-item"><a href="https://policy.psu.edu/policies/ad85">Non Discrimination</a></li>
    <li class="list-inline-item"><a href="https://www.psu.edu/accessibilitystatement">Accessibility</a></li>
    <li class="list-inline-item"><a href="https://policy.psu.edu/policies/hr11">Equal Opportunity</a></li>
    <li class="list-inline-item"><a href="https://www.psu.edu/legal-statements">Legal Statements</a></li>
  </ul>
  <p class="mb-0">Copyright &copy;{{ 'now' | date('Y') }} The Pennsylvania State University.<br>
  All rights reserved. Except where otherwise noted, this work is subject to a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 license.</a> <a href="https://libraries.psu.edu/psu-libraries-copyright-statement">Details and exceptions.</a></p>
</div>





